<div ng-controller="AccountController">
<md-content layout-padding id="account">

  <form name="settingsForm">

	  	<h2 class="md-title">{{ 'account' | translate }}</h2>
	  	
        <md-input-container class="md-block">
          <label>{{ 'name' | translate }}</label>
          <input ng-model="user.name">
        </md-input-container>

        <md-input-container class="md-block">
          <label>{{ 'username' | translate }}</label>
          <input ng-model="user.username">
        </md-input-container>

        <md-input-container class="md-block">
          <label>{{ 'bio' | translate }}</label>
          <input ng-model="user.bio">
        </md-input-container>

	     <span class="md-subhead">{{ 'private_infos' | translate }}</span>

        <md-input-container class="md-block">
          <label>{{ 'phonenumber' | translate }}</label>
          <input ng-model="user.email">
        </md-input-container>

        <md-input-container class="md-block">
          <label>{{ 'EMail' | translate }} ({{ 'required' | translate }}) *</label>
          <input ng-model="user.phone">
        </md-input-container>

        <md-input-container class="md-block">
          <label>{{ 'language' | translate }}</label>
           <md-select ng-model="user.language">
              <md-option ng-repeat="language in languages" value="{{language.abbrev}}">
                {{language.abbrev}}
              </md-option>
            </md-select>
        </md-input-container>

		<md-button class="md-primary md-raised" type="submit" ng-disabled="true">
			<md-icon md-svg-icon="content:save"></md-icon>
			{{ 'Save changes' | translate }}
		</md-button>

  </form>
      
</md-content>
</div>