<div flex="noshrink" layout="row" ng-cloak class="md-inline-form">

<md-input-container flex="noshrink">
	<input date-time id="pickerFromDate" name="pickerFromDate"
		ng-model="dates.fromDate" date-change="changeDate"
		view="date" min-view="minutes" format="{{format}}"
		>
	<md-tooltip>
		{{ 'search.datetime.tooltip' | translate }}
	</md-tooltip>
</md-input-container>

<md-input-container flex="noshrink"> 
	<input date-time id="pickerToDate" name="pickerToDate"
		ng-model="dates.toDate" date-change="changeDate"
		view="date" min-view="minutes" format="{{format}}"
		>
	<md-tooltip>
		{{ 'search.datetime.tooltip' | translate }}
	</md-tooltip>
</md-input-container>

</div>