<span>{{ 'search.datetime' | translate }}:
	
	<md-button ng-click="searchAuto()" ng-class="{'md-raised md-warn app-status-progress': isAuto()}"> 
		<span>AUTO</span>
		<md-tooltip>
			{{ 'search.datetime.autorefresh.tooltip1' | translate }}
			{{refreshFromdateMinutes}}
			{{ 'search.datetime.autorefresh.tooltip2' | translate }}
		</md-tooltip>
	</md-button>
	
	<md-button ng-click="search1()"> 
		<span hide-sm show-gt-sm>{{ 'search.datetime.choice.1' | translate }}</span>
		<span show-sm hide-gt-sm>1H</span>
	</md-button>
	<md-button ng-click="search2()">
		<span hide-sm show-gt-sm>{{ 'search.datetime.choice.2' | translate }}</span>
		<span show-sm hide-gt-sm>24H</span>
	</md-button> 
	<md-button ng-click="search3()">
		<span hide-sm show-gt-sm>{{ 'search.datetime.choice.3' | translate }}</span>
		<span show-sm hide-gt-sm>72H</span>
	</md-button>
</span>