<md-dialog ng-cloak>
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>{{ 'help.dialog' | translate }}</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="closeDialog()">
		<md-icon md-svg-icon="navigation:close"></md-icon> </md-button>
	</div>
	</md-toolbar>
	<md-dialog-content>
	<div class="md-dialog-content" ng-include="content"></div>
	</md-dialog-content>
	<md-dialog-actions layout="row"> <md-button
		class="md-raised md-primary" ng-click="closeDialog()"
		style="margin-right:20px;"> {{ 'got_it' | translate }} </md-button> </md-dialog-actions>
</form>
</md-dialog>