<md-toolbar> 
  <div class="md-toolbar-tools"> 
  	
    <md-button ng-href="#/">
    	<img class="nav-brand" src="img/app-logo.png"> 
   		<md-icon md-svg-icon="action:home"></md-icon> 
	    <span>{{ 'home' | translate }} </span>
    </md-button>
    
    <md-button ng-if="!isAuthenticated()" ng-href="#/about">
   		<md-icon md-svg-icon="action:help"></md-icon> 
	    <span>{{ 'about' | translate }} </span>
    </md-button>
    
    <span flex></span> 
    
    <md-menu ng-if="isAuthenticated()">
      <md-button ng-click="openMenu($mdMenu, $event)">
   		<md-icon md-svg-icon="action:account_circle"></md-icon> 
	    <span>{{ 'menu' | translate }} </span>
      </md-button>
      <md-menu-content width="0">
        <md-menu-item>
           	<md-button href="#/help"> 
   				<md-icon md-svg-icon="action:help"></md-icon> 
   				{{ 'help' | translate }}
   			</md-button> 
        </md-menu-item>
        <md-menu-item>
           	<md-button href="#/logout"> 
   				<md-icon md-svg-icon="mdi:logout"></md-icon> 
   				{{ 'logout' | translate }}
   			</md-button> 
        </md-menu-item>
      </md-menu-content>
    </md-menu>

   	
  </div> 
</md-toolbar>