<md-toolbar ng-click="close()" class="md-hue-2"> 

  <md-button ng-click="close()" hide-gt-md> 
    <md-icon md-svg-icon="navigation:chevron_left"></md-icon> 
	{{ 'hide' | translate }} 
  </md-button> 
  
  <div layout="column"> 
    	<md-button  href="#/home"> <md-icon md-svg-icon="action:home"></md-icon> {{ 'navbar.home' | translate }}</md-button> 
    	<md-button  href="#/help"> <md-icon md-svg-icon="action:help"></md-icon> {{ 'navbar.help' | translate }}</md-button> 
    <md-divider></md-divider> 
    <md-button disabled="true"> <md-icon md-svg-icon="mdi:table-large"></md-icon>  </md-button> 
    	<md-button  href="#/services"> {{ 'navbar.service_flow' | translate }} </md-button> 
    	<md-button  href="#/exchange"> {{ 'navbar.exchanges' | translate }}  </md-button> 
   		<md-button  href="#/error"> {{ 'navbar.error_flow' | translate }} </md-button> 
    <md-divider></md-divider> 
    <md-button disabled="true"> <md-icon md-svg-icon="mdi:chart-areaspline"></md-icon>  </md-button> 
    	<md-button  href="#/charts/service/count"> {{ 'navbar.service_traffic' | translate }} </md-button> 
   		<md-button  href="#/charts/error/count"> {{ 'navbar.error_count' | translate }} </md-button> 
    	<md-button  href="#/charts/service/responsetime"> {{ 'navbar.service_response' | translate }} </md-button> 
    	<md-button  href="#/charts/cache/count"> {{ 'navbar.cache_count' | translate }} </md-button> 
	<md-divider ng-if="isAuthenticatedResubmit()" ></md-divider>  
    <md-button  ng-if="isAuthenticatedResubmit()" ng-disabled="true"> <md-icon md-svg-icon="action:build"></md-icon>  </md-button> 
   	 	<md-button  ng-if="isAuthenticatedResubmit()" href="#/resubmit"> {{ 'navbar.resubmit' | translate }} </md-button> 
    <md-divider></md-divider> 

    <md-button disabled="true">
    	<md-icon md-svg-icon="social:person"></md-icon> {{ ::session.user.mail}}
    </md-button> 
  </div>
</md-toolbar>