<md-toolbar> 
  <div class="md-toolbar-tools"> 
  	
    <md-button ng-href="{{::homeUrl}}">
    	<img class="nav-brand" src="img/app-logo.png"> 
	    <span>{{ 'home' | translate }} </span>
    </md-button>
    
    <md-button ng-href="{{::aboutUrl}}">
	    <span>{{ 'about' | translate }} </span>
    </md-button>
    
	<span flex></span> 
		
	<md-select ng-if="isAuthenticated()" id="langMenu" ng-model="selectedLocale" ng-change="changeLocale(selectedLocale)"> 
		<md-option ng-repeat="(key, value) in locales" value="{{ ::key}}"> 
			LANG:{{ ::value}} 
		</md-option> 
	</md-select> 
	
   	<md-button ng-if="isAuthenticated()" href="#/auth/logout"> 
   		{{ 'logout' | translate }}
   		<md-icon md-svg-icon="mdi:logout"></md-icon> 
   	</md-button> 
   	
  </div> 
</md-toolbar>