img.nav-brand {
	vertical-align: top;
	height: 30px;
}

.single-line {
    display: block;
    white-space: nowrap; /* forces text to single line */
    overflow: hidden;
    text-overflow: ellipsis;
}

td.truncated {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.app-home {
  height: 100%;
}

.app-home .app-bg {
    background-image: url('../img/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
   
	background-color: #111;
    background-blend-mode: screen;
}
.app-home .app-content {
    color: #fff;
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 30px;
    font-weight: bold;
}


.app-icon-80 {
	height: 80px !important;
	width: 80px !important;
}
