.nav-brand img {
	vertical-align: top;
	height: 30px;
}
.nav-brand span {
	vertical-align: top;
	font-size: 20px;
	margin-left: 80px;
}

.single-line {
    display: block;
    white-space: nowrap; /* forces text to single line */
    overflow: hidden;
    text-overflow: ellipsis;
}

td.truncated {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
