<div ng-controller="SigninController">
<form id="signin" name="loginForm" ng-submit="login()" novalidate layout-padding>
	
	<md-input-container class="md-block" flex-gt-sm>
		<input class="form-control input-lg" type="text" name="username"
			ng-model="username" 
			placeholder="Login" required autofocus>
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm>
		<input server-error class="form-control input-lg" type="password"
			name="password" ng-model="password" 
			placeholder="Password" required>
	</md-input-container>

	<div>
		<md-button class="md-primary md-raised"
		 	type="submit" 
			ng-disabled="loginForm.$invalid">
			LOG IN <md-icon
			md-svg-icon="mdi:login"></md-icon> </md-button>
	</div>
	
</form>