<div ng-controller="UserListController">

<md-toolbar>
	<div class="md-toolbar-tools">

		<md-button ng-href="#/admin">
		    <md-icon md-svg-icon="hardware:keyboard_arrow_left"></md-icon>
			{{'back'|translate}}
			{{'admin'|translate}}
		</md-button>

	</div>
</md-toolbar>


<md-card>

<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>{{ 'Users' | translate }}</span>
    <div flex></div>
    
	<md-button ng-href="{{userUrl}}">
		<md-icon md-svg-icon="content:add"></md-icon>
		{{ 'add' | translate }}
	</md-button>
    
  </div>
</md-toolbar>

<md-table-container>
	<table md-table md-row-select ng-model="selected" md-progress="promise">
		<thead md-head md-on-reorder="getItems">
			<tr md-row>
				<th md-column md-order-by="username">{{ 'Name' | translate }}</th>
				<th md-column md-order-by="email" hide show-gt-xs>{{ 'EMail' | translate }}</th>
				<th md-column hide show-gt-sm>{{ 'Authorities' | translate }}</th>
				<th md-column md-order-by="enabled" hide show-gt-xs>{{ 'Status' | translate }}</th>
				<th md-column></th>
			</tr>
		</thead>
		<tbody md-body>

			<tr md-row md-auto-select ng-repeat="item in data.items">
				<td md-cell>{{ item.username }}</td>
				<td md-cell hide show-gt-xs>{{ item.email }}</td>
				<td md-cell hide show-gt-sm>
						<md-button ng-disabled="true" class="md-raised" ng-repeat="authority in item.authorities">
							{{authority.authority}}
						</md-button>
				</td>
				<td md-cell hide show-gt-xs>
					<span ng-show="item.enabled">
						<md-icon md-svg-icon="action:done"></md-icon>
						{{ 'Enabled' | translate }}
					</span>
					<span ng-show="!item.enabled">
						<md-icon md-svg-icon="content:block"></md-icon>
						{{ 'Disabled' | translate }}
					</span>
				</td>
				<td md-cell>
					<md-button ng-href="{{userUrl}}/{{item.id}}">
						<md-icon md-svg-icon="navigate-next.svg"></md-icon>
					</md-button>
				</td>
			</tr>

		</tbody>
	</table>
</md-table-container>

<md-table-pagination 
	md-limit="query.limit" md-limit-options="[5, 10, 15]" 
	md-page="query.page" md-total="{{items.count}}" 
	md-on-paginate="getItems" md-page-select></md-table-pagination>

</md-card>
</div>