img.nav-brand {
	vertical-align: top;
	height: 30px;
}

.single-line {
    display: block;
    white-space: nowrap; /* forces text to single line */
    overflow: hidden;
    text-overflow: ellipsis;
}

td.truncated {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.app-home {
  height: 100%;
}

.app-home .app-bg {
    background-image: url('../img/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
   
	background-color: #111;
    background-blend-mode: screen;
}
.app-home .app-content {
    color: #fff;
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 30px;
    font-weight: bold;
}

.app-icon-80 {
	height: 80px !important;
	width: 80px !important;
}

/* SOCIAL BUTTONS (GOOGLE, FACEBOOK, ETC) */
.md-button.md-raised.app-social {
	width: 100% !important;
}
.md-button.md-raised.app-social,
.md-button.md-raised.app-social md-icon{
    color: white !important;
}
.md-button.md-raised.app-google:not([disabled]),
.md-button.md-raised.app-google:not([disabled]):hover {
    background-color: #c72020f5 !important;
}
.md-button.md-raised.app-twitter:not([disabled]),
.md-button.md-raised.app-twitter:not([disabled]):hover {
    background-color: #55acee !important;
}
.md-button.md-raised.app-facebook:not([disabled]),
.md-button.md-raised.app-facebook:not([disabled]):hover {
    background-color: #3B5998 !important;
}
